<p class="page-title">
  Edit information
</p>

<%= form_for @user, html: {autocomplete: "off", multipart: true} do |f| %>
  
  <div class="left">
    <%= f.email_field :email, placeholder: 'email' %>
    <%= f.text_field :skills, placeholder: 'skills' %>

    <div class="avatar-container">
      <%= image_tag 'avatar_upload_small.png', id: 'avatar-button', onclick: "getFile()" %>
      <p class="avatar-name" style='display:none;'></p>
      <div style='height: 0px;width:0px; overflow:hidden;'>
        <input name="user[image]" id="image" type="file" value="image" onchange="showFilename();"/>
      </div>
    </div>
  </div>

  <div class="right">
    <%= f.text_area :brief_info, placeholder: 'brief information', rows: 12 %>
  </div>
  <div class="clear"></div>
  
  <%= f.submit "Edit", class: 'button', onclick: 'sub(this)' %>
  <!--<%= f.submit "Sign up", class: 'button' %>-->
<% end %>

<script type="text/javascript">
  function getFile() {
    document.getElementById("image").click();
  }

  window.canSubmit = true;
  function showFilename () {
    var selectedFile = $('#image').get(0).files[0];

    if(_.isUndefined(selectedFile)) {
      $('.avatar-name').text('').show();
      window.canSubmit = true;
      return;
    }

    window.canSubmit = !((selectedFile.size / 1000000) > 2 || selectedFile.type.indexOf("image") == -1)
      if(window.canSubmit) {
        $('.avatar-name').text(selectedFile.name).show();
      }
      else {
        $('.avatar-name').text('avatar has a wrong type or too big to upload').show();
      }
    }

    function sub(obj){
      if(window.canSubmit) {
        $(".edit_user").submit();
      }

      event.preventDefault();
    }
</script>