<%= form_for @user do |f| %>
  
  <div class="left">
    <%= f.text_field :username, placeholder: 'username' %>
    <%= f.email_field :email, placeholder: 'email' %>
    <%= f.text_area :brief_info, placeholder: 'brief information' %>
    <%= f.password_field :password, placeholder: 'password' %>
    <%= f.password_field :password_confirmation, placeholder: 'password confirmation' %>  
  </div>
  <div class="right">
    <%= f.text_field :skills, placeholder: 'skills' %>
  </div> 
  
  <%= f.submit "Sign up" %>
<% end %>