<div class="user-info">
  <div class="session-with-avatar">
    <div class="avatar">
      <%= image_tag @user.image_url %>
    </div>
    <div class="information">
      <p class="name"><%= @user.username %> <span>GMT-5:00 Eastern Time (US & Canada)</span>&nbsp<a class='edit-profile' href="#">edit</a></p>
      <p class="brief-information"><%= @user.brief_info %> </p>
      <p class="bottom-info-label"><span class="highlighted-text">skills: </span>&nbsp <%= @user.skills %></p>
    </div>
  </div>
</div>

<div class="user-sessions" ng-app="letspair" ng-controller="PairsessionsUserCtrl">
  <div class="calendar-container">
    <calendar daychange='loadDaySessions()'></calendar>

    <%= link_to 'edit', user_pairsessions_path(current_user.username), class: 'edit-sessions' %>
  </div>

  <ul class="sessions">
    <li class="session-with-contact" ng-repeat="session in sessions">
      
      <pairsessionuser opensContactForm session='session'></pairsessionuser>
      <div class="separator-white"></div>

    </li>
  </ul>
</div>