<div class="user-info">
  <div class="session-with-avatar">
    <div class="avatar">
      <%= image_tag @user.image_url %>
    </div>
    <div class="information">
      <p class="name"><%= @user.username %> <span><%= @user.timezone %></span> <% if @show_edit %> &nbsp <%= link_to "edit", edit_user_path(current_user) %><% end %></p>
      <p class="brief-information">
        <%= @user.brief_info.blank? && 'no information' || @user.brief_info %>
      </p>
      <p class="bottom-info-label"><span class="highlighted-text">skills: </span>&nbsp <%= @user.skills.empty? && 'no information' || @user.skills %></p>
    </div>
  </div>
</div>

<div class="user-sessions" ng-app="letspair" ng-controller="PairsessionsUserCtrl">
  <input class="user-id" type="hidden" ng-init='userId= <%= @user.id %>'/>
  <div class="calendar-container">
    <calendar daychange='loadDaySessions()' userid='<%= @user.id %>'></calendar>

    <% if @show_edit %>
      <%= link_to 'edit', user_pairsessions_path(current_user.username), class: 'edit-sessions' %>
    <% end %>
  </div>

  <ul class="sessions">
    <div class="no-session" ng-show="sessions.length == 0">no sessions</div>
    <li class="session-with-contact" ng-repeat="session in sessions">
      
      <pairsessionuser opensContactForm session='session'></pairsessionuser>
      <div class="separator-white"></div>

    </li>
  </ul>
</div>