<div class="welcome-header">
  <div class="welcome-logo">
    <%= image_tag "logo.png" %>
  </div>

  <blockquote>
    Wow. This #pairwithme thing @avdi started is
    really deepening the sense of community I feel.
    That’s pretty amazing.
    <cite>@everydaytype</cite>
  </blockquote>
  
  <ul class="welcome-buttons"></ul>
</div>
<div class="separator"></div>

<ul class="latest-events">
  <li class="session-full">
    <p class="title">NEW PAIR SESSION</p>

    <div class="avatar">
      <%= image_tag "test_avatar.jpg" %>
    </div>
    <div class="information">
      <p class="name">Funky super user <span>GMT-5:00 Eastern Time (US & Canada)</span></p>
      <p class="brief-information">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
      <p class="bottom-info-label"><span class="highlighted-text">technologies: </span>&nbsp Lorem Ipsum is simply dummy text of the printing and typesetting</p>
      <p class="when"><span class="icon-clock"></span> &nbsp 2013-05-13 10am - 2pm</p>
    </div>
    <div class="button">
      <a href="#" class="contact"><%= image_tag "button_contact.png" %></a>
    </div>
  </li>

  <div class="separator"></div>

  <li class="session-full">
    <p class="title">new member</p>

    <div class="avatar">
      <%= image_tag "test_avatar.jpg" %>
    </div>
    <div class="information">
      <p class="name">Funky super user <span>GMT-5:00 Eastern Time (US & Canada)</span></p>
      <p class="brief-information">I'm humble bundle ruby on rails developer who loves meeting new people</p>
      <p class="bottom-info-label"><span class="highlighted-text">skills: </span>&nbsp node.js, ruby, ruby on rails</p>
    </div>
    <div class="button">
      <a href="#" class="contact"><%= image_tag "button_contact.png" %></a>
    </div>
  </li>
</ul>